<h2>Edit comment</h2>

<div class="comment-edit-forms">
  <%= form_for([@post, @comment], remote: true) do |form| %>
    <%= form.text_area :body, class: "form-control", rows: "4"  %>
    <%= button_tag(type: 'submit', class: "btn btn-success", remote: true) do %>
      Update comment
    <% end %>
  <% end %>
</div>
