<h2>Edit comment</h2>

<div class="comment-edit-forms">
  <%= form_for [@post, @comment] do |form| %>
    <%= form.text_area :body, class: "form-control", rows: "4"  %>
    <%= button_tag(type: 'submit', class: "btn btn-success") do %>
      Update comment
    <% end %>
  <% end %>
  <% if flash[:notice] %>
    <div class="notice">
      <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        <%= flash[:notice] %>
      </div>
     </div>
   <% end %>
</div>
