<h4>Home <%= @user.name %></h2>

<div id="map" style='width: 300px; height: 300px;'></div>

<script type="text/javascript">
  $(document).ready(function(){
      var geolocation = <%= raw @hash.to_json %>
      gmap_show(geolocation);    // form map for new view (print nothing with possibility of put marker)
    });
</script>
