<h1>Edit geolocation</h1>

<%= render "form" %>

<script>
  $(document).ready(function(){
    var geolocation = <%= raw @hash.to_json %>
      gmap_form(geolocation);    // form map for new view (print nothing with possibility of put marker)
    });
</script>
