<h3>Edit geolocation</h3>

<%= render "form" %>

<script>
  $(document).ready(function(){
    var geolocation = <%= raw @geolocation.to_json %>
      gmap_form(geolocation);    // form map for new view (print nothing with possibility of put marker)
    });
</script>
