<h1>Create geolocation</h1>

<%= render "form" %>

<script>
  $(document).ready(function(){
      gmap_form(null);    // form map for new view (print nothing with possibility of put marker)
    });
</script>
