<script src="//maps.google.com/maps/api/js?key=AIzaSyDCrUkskIwGa34xUScCGebVWsosWHGOWhk"></script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
<script src="//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js"></script>

<h1>Create geolocation</h1>

<%= render "form" %>

<script>
  $(document).ready(function(){
      gmap_form(null);    // form map for new view (print nothing with possibility of put marker)
    });
</script>
