<p class="post-title">
  <b>Title:</b>
  <%= @post.title %>
</p>
<p class="post-body">
  <b>Body:</b>
  <%= @post.body %>
</p>
<input type="button" value="Edit Post">
<input type="button" value="Delete Post">
