<h2> SG Blog </h2>

<ul>
  <% @posts.each do |post| %>
    <li class="post-title"><%= link_to post.title, "post/#{post.id}"%> </li>
  <% end %>
  <button> <%= link_to "New Post", "/NewPost" %> </button>
</ul>
