<div class="post-title">
  <p>
    <b>Title:</b>
    <%= @post.title %>
  </p>
</div>

<div class="post-body">
  <p>
    <b>Body:</b>
    <%= @post.body %>
  </p>
</div>

<%= link_to "Edit Post", edit_post_path, class: "btn btn-primary" %>
<%= link_to "Destroy", @post, :method => :delete, class: "btn btn-primary" %>
